ion-header {
  --padding-top: 50px;
  --padding-bottom: 50px;
  --padding-end: 50px;
  --padding-start: 50px;
}

  ion-title {
    font-size: 0.8em;
  }
  
  ion-header {
    background-color: azure;
  }
  
  ion-label {
    width: 130px;
  }
  
  ion-input, ion-select {
    color: gray;
    text-align: right;
  }
  
  
  // CGV: El siguiente estilo se agregó para que se pueda mostrar siempre el botón
  // del MatDatePicker, puesto que aparecía invisible producto de los colores 
  // asociados al Theme escogido al instalar Angular Material
  ng-deep .mat-datepicker-toggle{
    color: blue;
  }