<!-- Comienza el Header -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title #titulo class="ion-text-center">
        Sistema de asistencia DUOC      
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Termina el Header -->

<!-- Comienza el Content -->
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-title class="ion-padding-top">
    <ion-label>
      <h1 class="ion-text-center">¡Bienvenido!</h1>
      <!-- {{interpolacion}} 
          Permite mostrar los datos desde el script a la visual
          verificar el data en el home.page.ts
        -->
      <h2 class="ion-text-center" *ngIf="usuario" > {{ usuario.nombre }} </h2>
    </ion-label>
  </ion-title>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button shape="block" (click)="goToQR()">
          QR
        </ion-button>
      </ion-col>      
    </ion-row>
    <ion-col col-6>
      <ion-button color="danger" shape="block" (click)="goToLogout()">
        CERRAR SESION
      </ion-button>
    </ion-col>
    
  </ion-grid>
</ion-content>
<!-- Termina el Content -->

<!-- Comienza el Footer -->
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-left ion-text">
    </ion-title>
  </ion-toolbar>
</ion-footer>
<!-- Termina el Header -->